{% extends "base.html" %}

{% block content %}


<div id="codesdiv">
  <h3>Currency Codes</h3>
  <ul>
    {% for code in codes %}
    <li>{{code}} {{codes[code]}}</li>
    {% endfor %}
  </ul>
</div>

<div id="converteddiv">
  <p>{{convert_from}} <i class="fas fa-exchange-alt"></i> {{convert_to}}</p>
  <p>{{from_symbol}}{{convert_amount}} = {{to_symbol}}{{converted}}</p>
  <a href="/"><button>Home</button></a>
</div>

<div id="ratesdiv">
  <h3>{{convert_from}} Conversion Rates</h3>
  <ul>
    {% for rate in rates %}
    <li>{{rate}} {{rates[rate]|round(2)}}</li>
    {% endfor %}
  </ul>
</div>


{% endblock %}