{% extends "base.html" %}

{% block content %}


<div id="codesdiv">
  <h3>Currency Codes</h3>
  <hr>
  <ul>
    {% for code in codes %}
    <li>{{code}} {{codes[code]}}</li>
    {% endfor %}
  </ul>
</div>

<div id="converteddiv">
  <p>{{convert_from}} <i class="fas fa-exchange-alt"></i> {{convert_to}}</p>
  <p>{{from_symbol}} {{convert_amount}} = {{to_symbol}} {{converted}}</p>
  <a href="/"><button><i class="fas fa-home"></i></button></a>
</div>

<footer id="ratesdiv">
  <h3>{{convert_from}} Conversion Rates</h3>
  <marquee behavior="scroll" class="scrollcontainer">
    {% for rate in rates %}
    <p>{{rate}} {{rates[rate]|round(2)}}</p>
    {% endfor %}
  </marquee>
</footer>



{% endblock %}