{% extends "base.html" %}

{% block content %}


<div id="codesdiv">
  <ul>
    {% for code in codes %}
    <li>{{code}} {{codes[code]}}</li>
    {% endfor %}
  </ul>
</div>

<div id="converteddiv">
  <p>{{from_symbol}}{{convert_amount}} {{convert_from}} to {{convert_to}} = {{to_symbol}}{{converted}}</p>
  <a href="/"><button>Home</button></a>
</div>

<div id="ratesdiv">
  <ul>
    {% for rate in rates %}
    <li>{{rate}} {{rates[rate]|round(2)}}</li>
    {% endfor %}
  </ul>
</div>


{% endblock %}