{% extends "base.html" %}


{% block content %}


<div id="codesdiv">
  <ul>
    {% for code in codes %}
    <li>{{code}} {{codes[code]}}</li>
    {% endfor %}
  </ul>
</div>

<div id="converterdiv">
  <form action="/convert">
    <label for="from">Convert From</label>
    <input type="text" name="from" id="convertfrom" placeholder="Enter Code" required>
    <label for="to">Convert To</label>
    <input type="text" name="to" id="convertto" placeholder="Enter Code" required>
    <label for="amount">Amount</label>
    <input type="text" name="amount" id="convertamount" placeholder="0.00" required>
    <button>Convert</button>
  </form>
</div>

<div id="errordiv">
  {% for msg in get_flashed_messages() %}
  <p>{{msg}}</p>
  {% endfor %}
</div>

{% endblock %}