{% extends "base.html" %}


{% block content %}


<div id="codesdiv">
  <ul>
    {% for code in codes %}
    <li>{{code}} {{codes[code]}}</li>
    {% endfor %}
  </ul>
</div>

<div id="converterdiv">
  <form action="/convert">
    <input type="text" name="from" id="convertfrom" placeholder="Convert From">
    <input type="text" name="to" id="convertto" placeholder="Convert To">
    <input type="text" name="amount" id="convertamount" placeholder="Convert Amount">
    <button>Convert</button>
  </form>

</div>

<div id="errordiv">
  {% for msg in get_flashed_messages() %}
  <p>{{msg}}</p>
  {% endfor %}
</div>

{% endblock %}